<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var form = document.forms.namedItem("form_login");
            form.addEventListener('submit', function (ev) {
                oData = new FormData(form);
                var url_string = window.location.href;
                var url = new URL(url_string);
                var redirectUrl = url.searchParams.get("redirectUrl");
                var headers = new Headers();
                headers.append('Accept', 'application/json');
                request = new Request('/connect', {
                    headers : headers,
                    method: 'POST',
                    body: oData
                });
                $(".error").hide()
                fetch(request).then(response => {
                    if (response.status === 200) {
                        if (redirectUrl != null) {
                            response.json().then(function (data) {
                                var url = new URL(redirectUrl);
                                url.searchParams.set("token",encodeURI(data["token"]))
                                window.location.replace(url.toString());
                            });
                        }else{
                            window.location.replace("/");
                        }
                    } else {
                        if (redirectUrl != null) {
                            response.json().then(function (data) {
                                console.log(data["error"])
                                var url = new URL(redirectUrl);
                                url.searchParams.set("error", encodeURI(data["error"]))
                                window.location.replace(url.toString());
                            });
                        }else{
                            $(".error").show()
                        }
                    }
                });
                ev.preventDefault();
            }, false);
        }
    </script>
    <title>MyPodcasts</title>
    <link rel="icon" href="/static/favicon.ico"/>
</head>
<body>
    <h1>
        Login
    </h1>
    <p>
        <label class="error" style="display: none">
            Error in login or password
        </label>
        <form enctype="multipart/form-data" method="post" id="form_login">
            <div class="login">
                <label for="login">
                    <b>Login</b>
                </label>
                <input type="text" placeholder="Enter Username" name="login" required>
            </div>
            <div class="psw">
                <label for="psw">
                    <b>Password</b>
                </label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div>
                <button type="submit">Connect</button>
            </div>
        </form>
    </p>
</body></body>
